/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/images/background/background-theme-AI.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*HEADER*/
.title-header {
    color: #fff;
    font-family: "Brush Script MT", cursive; /* Sử dụng font gần như thư pháp */
    font-size: 76px;
    margin-top: 100px;
}

/*CONTENT*/
.container-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: 150px;
}

.title {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.blinking {
    color: #fff;
}


.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 20px;
}

.only-btn-tiktok {
    margin-bottom: 7px;
}

.btn-handle {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.hashtag-button {
    width: 150px;
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    overflow: hidden;
    background-color: #eb14c7;
}

.hashtag-button::before,
.hashtag-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, #ff69b4, transparent);
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.hashtag-button::after {
    filter: blur(20px);
}

.hashtag-button:hover::before,
.hashtag-button:hover::after {
    transform: translateX(100%);
}

.hashtag-button:hover {
    box-shadow: 0 0 15px rgba(255,105,180,0.7), 0 0 20px rgba(255,105,180,0.7), 0 0 25px rgba(255,105,180,0.7), 0 0 30px rgba(255,105,180,0.7);
}


.click-button {
    background-color: #007bff;
    color: white;
    transform: scale(1.5);
    transition: transform 0.5s ease;
}

.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
.btn-tiktok {
    margin-top: 4px;
    width: 33px;
    height: 33px;
    object-fit: contain;
}

.description {
    margin-top: 30px;
    font-size: 18px;
    color: #ffd700;
    max-width: 600px;
    height: auto;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.text-moving {
    margin-top: 80px;
    overflow: hidden;
    white-space: nowrap;
}

.text-run {
    color: #eb14c7;
    animation: textmoving 12s linear infinite;
}
@keyframes textmoving {
    0% 
    {
        transform: translateX(100%);
    }
    100% 
    {
        transform: translateX(-100%);
    }
}


/*FOOTER*/



/*RESPONSIBVE*/
/* For mobile devices */
@media only screen and (max-width: 600px) {
    body {
        background-position: center;
    }

    .title-header {
        font-size: 30px;
        margin-top: 50px;
    }

    .title {
        font-size: 16px;
        margin: 0 20px;
    }


    .container-content {
        margin-top: 80px;
    }

    .hashtag-button {
        width: 80px;
        height: 30px;
        font-size: 12px;
    }

    .logo {
        width: 30px;
        height: 30px;
    }

    .only-btn-tiktok {
        margin-top: 6px;
    }
    .btn-tiktok {
        margin-top: 3px;
        width: 25px;
        height: 25px;
    }

    .description {
        font-size: 14px;
        margin: 30px 30px 0;
        text-align: center;
    }

    .text-run {
        font-size: 16px;
    }
}

/* For tablets */
@media only screen and (min-width: 600px) and (max-width: 900px) {

    body {
        background-position: center;
        width: 692px;
    }

    .title-header {
        font-size: 60px;
        margin-top: 70px;
    }

    .title {
        font-size: 30px;
    }

    .container-content {
        margin-top: 100px;
    }

    .hashtag-button {
        width: 130px;
        height: 45px;
        font-size: 14px;
    }

    .logo {
        width: 35px;
        height: 35px;
    }

    .btn-tiktok {
        margin-top: 3px;
        width: 28px;
        height: 28px;
    }

    .description {
        font-size: 20px;
        margin: 40px 30px 0;
        text-align: center;
    }

    .text-run {
        font-size: 18px;
    }
}

/* Desktop Screen */
@media only screen and (min-width: 1201px) {
    /* Styles for desktop here */
  }
  
  /* Landscape Tablet */
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Styles for landscape tablet here */
  }
  
  /* Portrait Tablet */
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Styles for portrait tablet here */
  }
  
  /* Mobile Screen */
  @media only screen and (max-width: 600px) {
    /* Styles for mobile screen here */
  }
  

