* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/images/background/background-theme-AI.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

/*HEADER*/
.title-header {
    color: #fff;
    /* font-family: "Brush Script MT", cursive; Sử dụng font gần như thư pháp */
    font-size: 56px;
    margin-top: 100px;
}

/*CONTENT*/
.topic-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}
.group button {
    margin: 10px;
}

.group button:hover {
    cursor: pointer;
    background-color: #ccc;
    transform: scale(1.2);
}

.topic-buttons button {
    padding: 10px;
    border-radius: 6px;
    border: none;
    font-size: 14px;
}


.content {
    position: relative;
    margin-top: 30px;
    width: 800px;
    background-color: #ccc;
    border-radius: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    overflow: auto;
    display: flex;
    gap: 6px;
    padding: 20px;
    flex-wrap: wrap;
    line-height: 1.6;
    visibility: hidden;
}
.btn_copy {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn_copy_disabled {
    background-color: #000;
    cursor: none;
}


/*RESPONSIBVE*/
/* For mobile devices */
@media only screen and (max-width: 600px) {

    html, body {
        overflow-x: hidden;
    }

    body {
        background-position: center;
        background-size: cover;
        height: auto;
        overflow: hidden;
        
    }
    
    /*HEADER*/
    .title-header {
        color: #fff;
        font-family: "Brush Script MT", cursive;
        font-size: 34px;
        margin-top: 60px;
    }
    
    /*CONTENT*/
    .topic-buttons {
        margin-top: 40px;
        gap: 10px;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .group button {
        margin: 6px 8px;
    }

    .group {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .topic-buttons button {
        padding: 6px;
    }

    .group_1 button {
        width: 167px;
    }

    .group_3 button {
        position: relative;
        margin-right: 204px;
        width: 167px;
    }
    .group_4 button {
        width: 168px;
        position: relative;
        top: -210px;
        left: 97px;
    }
       
    .content {
        position: relative;
        top: -230px;
        width: 390px;
        height: auto;
    }
}



/* For tablets */
@media only screen and (min-width: 600px) and (max-width: 900px) {

}